*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

header{
    width: 100%; height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url('../image/red-fort-759-getty-images.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    width: 100%; height: 15vh;
    background: rgba(0,0,0,0.2);
    /* color: white; */
    display: flex; justify-content: space-between;
    align-items: center;
}

nav .logo{
    width: 25%;
    text-align: center;
    color: wheat;
}

nav .menu{
    width: 25%;
    display: flex; justify-content: space-around;
}

nav .menu a{
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav .menu a:hover{
    color: #00b894;
}

main{
    width: 100%; height: 85vh;
    display: flex; justify-content: center;
    align-items: center;
    text-align: center; color: white;
}

#reg_form{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    border: 1px solid black;
    height: 62%;
    /* margin-left: 40%; */
    padding:20px;
    /* padding-left: 5%; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
    background-color: rgba(255, 217, 0, 0.1);
}
.in{
    padding: 15px;
    width: 300px;
    border-radius: 7px;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
}
.btn{
    width: 135px;
    padding: 15px;
    background-color: rgba(128, 255, 0, 0.9);
    border-radius: 7px;
    border: none;
}